*{
margin: 0;
padding: 0;
}
body{
    background-color:#000000 ;
    text-align: center;
}
.container{
    height: 70vh;
     display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.0vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 9vmin;
    color: #000000;
    background-color: #ffffc7;
}
.game :hover{
    background-color: rgb(237, 211, 117);
}
#reset{
    height: -10px;
    padding: 0.5rem;
    font-size:1rem ;
    background-color: #191913;
    color: azure;
    border-radius: 3rem;
    border: none;
    font-style: italic;
}
#new-btn{
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    font-style: italic;
}
#msg{
    color: #ffffc7;
    font-size: 5vmin;
    font-style: oblique;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button :hover {
    background-color: #caca5f;
}
p{
    margin-bottom: 10px;
}
.hide{
    display: none;
}
h1{
    color: #fff;
}
